<!DOCTYPE html>
<html lang="en">
${head}
<body>
  ${header}
  <main>
    <div class="y-wrap">
      <h1>Please Login</h1>
      <p>Because we aim to make things easy for our users, you don't have to create an account to login. Just click the GitHub icon below to be redirected to GitHub's login page.</p>
      <div class="container container--icon">
        <a href="/auth/github"><img src="./github-icon.png" /></a>
        <p>Login with GitHub</p>
      </div>
      <p>Once you are successfully authenticated there, you will be redirected to your profile page.</p>
    </div>
  </main>
  ${footer}
</body>
</html>